In [1]:
import pandas as pd
import numpy as np

# generate datetime index

In [2]:
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

# drop NaN

In [3]:
dropNanDf = pd.DataFrame([
    [1.1, 2.2, 3.3], 
    [4.4, np.NaN, np.NaN],
    [np.NaN, np.NaN, np.NaN], 
    [np.NaN, 11.11, 12.12]
])
dropNanDf

     0      1      2
0  1.1   2.20   3.30
1  4.4    NaN    NaN
2  NaN    NaN    NaN
3  NaN  11.11  12.12

In [4]:
dropNanDf.dropna()

     0    1    2
0  1.1  2.2  3.3

In [5]:
dropNanDf.dropna(how='all')

     0      1      2
0  1.1   2.20   3.30
1  4.4    NaN    NaN
3  NaN  11.11  12.12

In [6]:
dropNanDf.dropna(thresh=2)

     0      1      2
0  1.1   2.20   3.30
3  NaN  11.11  12.12

# fill NaN

In [7]:
fillNanDf = pd.DataFrame([
    [1.1, 2.2, 3.3], 
    [4.4, np.NaN, np.NaN],
    [np.NaN, np.NaN, np.NaN], 
    [np.NaN, 11.11, 12.12]
])
fillNanDf

     0      1      2
0  1.1   2.20   3.30
1  4.4    NaN    NaN
2  NaN    NaN    NaN
3  NaN  11.11  12.12

In [8]:
fillNanDf.fillna(-1)

     0      1      2
0  1.1   2.20   3.30
1  4.4  -1.00  -1.00
2 -1.0  -1.00  -1.00
3 -1.0  11.11  12.12

In [9]:
fillNanDf.fillna({0: - 100, 1: -200, 2: -300})

       0       1       2
0    1.1    2.20    3.30
1    4.4 -200.00 -300.00
2 -100.0 -200.00 -300.00
3 -100.0   11.11   12.12

In [10]:
fillNanDf.fillna(method='ffill')

     0      1      2
0  1.1   2.20   3.30
1  4.4   2.20   3.30
2  4.4   2.20   3.30
3  4.4  11.11  12.12

In [12]:
fillNanDf.fillna(method='ffill', limit=1)

     0      1      2
0  1.1   2.20   3.30
1  4.4   2.20   3.30
2  4.4    NaN    NaN
3  NaN  11.11  12.12