In [27]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas.tseries.offsets import Day, MonthEnd

# binning data

In [2]:
binningDataArr = range(10)
binningDataArr

range(0, 10)

In [3]:
binningCategory = pd.cut(binningDataArr, [0, 3, 7, 10], right=False, labels=['group_0', 'group_1', 'group_2'])
binningCategory.value_counts()

group_0    3
group_1    4
group_2    3
dtype: int64

# quantile binning data

In [4]:
quantileBinningDataArr = range(10)
quantileBinningDataArr

range(0, 10)

In [5]:
quantileBinningCategory = pd.qcut(quantileBinningDataArr, 4, labels=['group_0', 'group_1', 'group_2', 'group_3'])
quantileBinningCategory.value_counts()

group_0    3
group_1    2
group_2    2
group_3    3
dtype: int64

# generate datetime index

In [2]:
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

# crosstab

In [3]:
df = pd.DataFrame({
    'Sample': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Nationality': ['USA', 'Japan', 'USA', 'Japan', 'Japan', 'Japan', 'USA', 'USA', 'Japan', 'USA'],
    'Handedness': ['Right-handed', 'Left-handed', 'Right-handed', 'Right-handed', 'Left-handed', 'Right-handed', 'Right-handed', 'Left-handed', 'Right-handed', 'Right-handed']
})
df

   Sample Nationality    Handedness
0       1         USA  Right-handed
1       2       Japan   Left-handed
2       3         USA  Right-handed
3       4       Japan  Right-handed
4       5       Japan   Left-handed
5       6       Japan  Right-handed
6       7         USA  Right-handed
7       8         USA   Left-handed
8       9       Japan  Right-handed
9      10         USA  Right-handed

In [4]:
pd.crosstab(df.Nationality, df.Handedness, margins=True)

Handedness   Left-handed  Right-handed  All
Nationality
Japan                  2             3    5
USA                    1             4    5
All                    3             7   10

In [5]:
tips = pd.read_csv('/home/hsiehpinghan/git/python/pandas-python/data/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[0:5]

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [6]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244

# datetime

In [9]:
now = datetime.now()
now

datetime.datetime(2018, 7, 5, 5, 56, 33, 149451)

In [16]:
str(now)

'2018-07-05 06:00:29.864645'

In [20]:
nowStr = now.strftime('%Y-%m-%d %H:%M:%S')
nowStr

'2018-07-05 06:00:29'

In [21]:
datetime.strptime(nowStr, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2018, 7, 5, 6, 0, 29)

In [12]:
delta = datetime(2018, 7, 1, 0, 0, 1) - datetime(2018, 7, 1, 0, 0, 0)
delta

datetime.timedelta(0, 1)

In [26]:
dateStrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(dateStrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

# timedelta

In [14]:
now = datetime.now()
now

datetime.datetime(2018, 7, 5, 6, 0, 29, 864645)

In [15]:
now + timedelta(1)

datetime.datetime(2018, 7, 6, 6, 0, 29, 864645)

# date parser

In [23]:
parse('2018-07-05 06:00:29')

datetime.datetime(2018, 7, 5, 6, 0, 29)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

# shift date

In [28]:
now = datetime(2001, 1, 1)
now + 3 * Day()

Timestamp('2001-01-04 00:00:00')

In [32]:
now + 2 * MonthEnd()

Timestamp('2001-02-28 00:00:00')

In [34]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2001-01-31 00:00:00')

In [35]:
offset.rollback(now)

Timestamp('2000-12-31 00:00:00')