In [1]:
import pandas as pd
import numpy as np

# Series with index

In [2]:
series_with_index = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
print(series_with_index['b'])
print("----------")
print(series_with_index[['b', 'c']])

1
----------
b    1
c    2
dtype: int64

# Reindex

In [3]:
series_with_index.reindex(['d','c','b','a'])

d    3
c    2
b    1
a    0
dtype: int64

In [4]:
fill_value_reindex = pd.Series(['aaa', 'bbb', 'ccc'], index=[0, 2, 4])
fill_value_reindex.reindex(range(0, 6), method='ffill')

0    aaa
1    aaa
2    bbb
3    bbb
4    ccc
5    ccc
dtype: object

# Update value

In [5]:
series_with_index['b'] = 9
print(series_with_index)

a    0
b    9
c    2
d    3
dtype: int64

# Filter

In [6]:
print(series_with_index[series_with_index > 2])

b    9
d    3
dtype: int64

# Multiply

In [7]:
print(series_with_index * 2)

a     0
b    18
c     4
d     6
dtype: int64

# Dictionary-like operation

In [8]:
print('c' in series_with_index)
print("----------")
print('x' in series_with_index)

True
----------
False

# Dictionary to series

In [9]:
dictionary_to_series = {"aaa" : 111, "bbb" : 222, "ccc" : 333}
print(pd.Series(dictionary_to_series))

aaa    111
bbb    222
ccc    333
dtype: int64

# Dictionary to series with index

In [10]:
dictionary_to_series_with_index = {"aaa" : 111, "bbb" : 222, "ccc" : 333}
print(pd.Series(dictionary_to_series, index=["ccc", "aaa", "xxx"]))

ccc    333.0
aaa    111.0
xxx      NaN
dtype: float64

# Detect missing data

In [11]:
detect_missing_data = pd.Series({"aaa" : 111, "bbb" : 222, "ccc" : 333}, index=["ccc", "aaa", "xxx"])
print(detect_missing_data.isna())

ccc    False
aaa    False
xxx     True
dtype: bool

# Add serieses

In [12]:
add_serieses_0 = pd.Series({"a" : 1, "b" : 2, "c" : 3})
add_serieses_1 = pd.Series({"b" : 2, "c" : 3, "d" : 4})
print(add_serieses_0 + add_serieses_1)

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64

# Series name

In [13]:
series_name = pd.Series({"a" : 1, "b" : 2, "c" : 3})
series_name.name = "my_series_name"
print(series_name)

a    1
b    2
c    3
Name: my_series_name, dtype: int64

# Index name

In [14]:
index_name = pd.Series({"a" : 1, "b" : 2, "c" : 3})
index_name.index.name = "my_index_name"
print(index_name)

my_index_name
a    1
b    2
c    3
dtype: int64

# sort by value

In [15]:
sort_by_value = pd.Series([3,1,2,4,0])
sort_by_value.sort_values()

4    0
1    1
2    2
0    3
3    4
dtype: int64

# rank

In [16]:
rank = pd.Series([3,1,2,4,2,2,0])
rank.rank()

0    6.0
1    2.0
2    4.0
3    7.0
4    4.0
5    4.0
6    1.0
dtype: float64

# unique

In [17]:
unique = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
unique.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

# value count

In [18]:
value_count = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
value_count.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

# hierarchical indexing

In [19]:
hierarchicalIndexing = pd.Series(
    np.random.randn(9),
    index=[
        ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
        [1, 2, 3, 1, 3, 1, 2, 2, 3]
    ]
)
hierarchicalIndexing

a  1   -1.534875
   2   -0.087116
   3    0.070302
b  1   -0.657141
   3    0.071994
c  1    0.916947
   2    0.088705
d  2   -0.447611
   3    0.766111
dtype: float64

In [20]:
hierarchicalIndexing["b"][3]

0.07199432331356354

In [21]:
hierarchicalIndexing["b":"c"]

b  1   -0.657141
   3    0.071994
c  1    0.916947
   2    0.088705
dtype: float64

In [22]:
hierarchicalIndexing.loc[["b", "d"]]

b  1   -0.657141
   3    0.071994
d  2   -0.447611
   3    0.766111
dtype: float64

In [23]:
hierarchicalIndexing.loc[:, 2]

a   -0.087116
c    0.088705
d   -0.447611
dtype: float64

In [24]:
hierarchicalIndexing.unstack()

          1         2         3
a -1.534875 -0.087116  0.070302
b -0.657141       NaN  0.071994
c  0.916947  0.088705       NaN
d       NaN -0.447611  0.766111

# concate

In [25]:
concate_0 = pd.Series([0, 1], index=['a', 'b'])
concate_0

a    0
b    1
dtype: int64

In [26]:
concate_1 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
concate_1

c    2
d    3
e    4
dtype: int64

In [27]:
concate_2 = pd.Series([5, 6], index=['f', 'g'])
concate_2

f    5
g    6
dtype: int64

In [28]:
pd.concat([concate_0, concate_1, concate_2])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [29]:
pd.concat([concate_0, concate_1, concate_2], axis=1, keys=['one', 'two', 'three'], join='outer')

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [30]:
pd.concat([concate_0, concate_1, concate_2], axis=1, join='outer', join_axes=[['a','c','e']])

     0    1   2
a  0.0  NaN NaN
c  NaN  2.0 NaN
e  NaN  4.0 NaN

# combine first

In [31]:
combine_first_0 = pd.Series([1, 2, np.nan, 4, np.nan])
combine_first_0

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [32]:
combine_first_1 = pd.Series([100, 200, 300, 400, 500])
combine_first_1

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [33]:
combine_first_0.combine_first(combine_first_1)

0      1.0
1      2.0
2    300.0
3      4.0
4    500.0
dtype: float64