In [44]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas.tseries.offsets import MonthEnd

# select

In [14]:
dates = [
    datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)
]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.548615
2011-01-05   -0.168159
2011-01-07   -1.582690
2011-01-08    1.860168
2011-01-10    0.003517
2011-01-12   -0.153053
dtype: float64

In [6]:
ts[ts.index[3]]

-0.15001309829745757

In [7]:
ts['2011-01-08']

-0.15001309829745757

In [8]:
ts['20110108']

-0.15001309829745757

In [15]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.582690
2011-01-08    1.860168
2011-01-10    0.003517
2011-01-12   -0.153053
dtype: float64

In [16]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.582690
2011-01-08    1.860168
2011-01-10    0.003517
dtype: float64

In [9]:
ts = pd.Series(
    np.random.randn(1000),
    index=pd.date_range('1/1/2000', periods=1000)
)
ts

2000-01-01    0.163374
2000-01-02   -0.568072
2000-01-03    1.001680
2000-01-04    0.034447
2000-01-05   -0.325409
2000-01-06   -0.515309
2000-01-07   -1.519469
2000-01-08    0.886959
2000-01-09    0.276181
2000-01-10   -1.172534
2000-01-11    0.244670
2000-01-12   -0.283845
2000-01-13    0.066906
2000-01-14   -1.286139
2000-01-15    1.266943
2000-01-16    1.221705
2000-01-17    0.461656
2000-01-18    1.696440
2000-01-19   -1.501949
2000-01-20    0.429618
2000-01-21    0.980889
2000-01-22    1.191335
2000-01-23   -0.692420
2000-01-24    0.906478
2000-01-25   -0.375235
2000-01-26    2.713931
2000-01-27    0.488913
2000-01-28    1.507973
2000-01-29   -0.686736
2000-01-30    0.549817
                ...
2002-08-28   -0.632099
2002-08-29   -0.020326
2002-08-30    1.142492
2002-08-31    1.528584
2002-09-01   -0.666140
2002-09-02    1.889632
2002-09-03    0.954589
2002-09-04    0.514041
2002-09-05   -1.273045
2002-09-06   -0.872155
2002-09-07    0.039164
2002-09-08   -0.019558
2002-09-09   -0.040578
2002-09-10    1.156331
2002-09-11   -0.323076
2002-09-12    1.740645
2002-09-13   -0.438003
2002-09-14    0.446263
2002-09-15    1.136817
2002-09-16    1.319578
2002-09-17    0.441585
2002-09-18    0.580101
2002-09-19   -1.695215
2002-09-20   -0.922550
2002-09-21   -0.858287
2002-09-22   -0.313062
2002-09-23    1.861096
2002-09-24   -0.176761
2002-09-25   -0.517611
2002-09-26    0.958970
Freq: D, Length: 1000, dtype: float64

In [11]:
ts['2001']

2001-01-01    0.401672
2001-01-02   -0.066076
2001-01-03    0.483296
2001-01-04   -0.636025
2001-01-05    1.729516
2001-01-06    0.800064
2001-01-07   -1.030473
2001-01-08   -0.764197
2001-01-09    0.829211
2001-01-10    1.774197
2001-01-11    0.028230
2001-01-12   -1.401455
2001-01-13    0.026158
2001-01-14    0.542118
2001-01-15   -0.308643
2001-01-16   -1.336759
2001-01-17   -1.828354
2001-01-18   -0.663059
2001-01-19   -0.800787
2001-01-20   -1.262249
2001-01-21    1.794459
2001-01-22    0.636660
2001-01-23   -2.324620
2001-01-24   -1.634379
2001-01-25    2.007831
2001-01-26   -0.929867
2001-01-27    0.896599
2001-01-28    1.224217
2001-01-29   -0.643482
2001-01-30   -1.169798
                ...
2001-12-02    0.372984
2001-12-03    1.079265
2001-12-04   -0.711265
2001-12-05   -0.406092
2001-12-06    1.204962
2001-12-07   -1.712544
2001-12-08    1.104833
2001-12-09   -1.294849
2001-12-10   -0.042374
2001-12-11   -0.159410
2001-12-12    0.511926
2001-12-13   -0.032583
2001-12-14   -0.029839
2001-12-15   -1.304420
2001-12-16   -1.372264
2001-12-17    0.442577
2001-12-18   -0.479144
2001-12-19    0.409178
2001-12-20   -0.283424
2001-12-21    1.200264
2001-12-22    0.020776
2001-12-23   -0.407437
2001-12-24   -0.388850
2001-12-25   -0.058545
2001-12-26    2.066803
2001-12-27    0.140194
2001-12-28    0.376408
2001-12-29   -0.343539
2001-12-30   -0.126352
2001-12-31   -0.037434
Freq: D, Length: 365, dtype: float64

In [12]:
ts['2001-5']

2001-05-01    0.008059
2001-05-02    0.830009
2001-05-03   -1.391070
2001-05-04    0.174784
2001-05-05    0.107778
2001-05-06   -0.114364
2001-05-07   -1.654355
2001-05-08   -0.439981
2001-05-09   -1.646968
2001-05-10   -0.804966
2001-05-11   -0.035147
2001-05-12   -0.007393
2001-05-13   -1.583755
2001-05-14   -0.114125
2001-05-15   -0.253433
2001-05-16    0.566495
2001-05-17   -0.883668
2001-05-18    1.997568
2001-05-19    0.564737
2001-05-20    0.018462
2001-05-21    0.603551
2001-05-22    2.131863
2001-05-23    0.685385
2001-05-24   -0.945502
2001-05-25   -0.532843
2001-05-26    2.391318
2001-05-27    0.617798
2001-05-28    0.233180
2001-05-29   -0.140749
2001-05-30    0.759216
2001-05-31   -0.878612
Freq: D, dtype: float64

In [ ]:
ts[datetime(2011, 1, 7):]

# truncate

In [17]:
dates = [
    datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)
]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    2.550714
2011-01-05    1.592869
2011-01-07    0.213103
2011-01-08   -0.300751
2011-01-10   -1.712269
2011-01-12    0.497448
dtype: float64

In [18]:
ts.truncate(after='1/9/2011')

2011-01-02    2.550714
2011-01-05    1.592869
2011-01-07    0.213103
2011-01-08   -0.300751
dtype: float64

# frequency

In [19]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [34]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

# datetime frequency

In [23]:
dates = pd.date_range('1/1/2000', periods=10, freq='W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

# duplicate date

In [25]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
ts = pd.Series(np.arange(5), index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [26]:
ts.index.is_unique

False

In [27]:
grouped = ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

# group by date

In [43]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.395714
2000-01-19   -0.462092
2000-01-23   -1.076810
2000-01-27   -1.029270
2000-01-31    0.891717
2000-02-04   -1.000515
2000-02-08   -0.541641
2000-02-12    0.087851
2000-02-16    0.289796
2000-02-20    1.441489
2000-02-24   -0.338533
2000-02-28    0.559946
2000-03-03   -0.350191
2000-03-07   -3.105073
2000-03-11   -0.741405
2000-03-15   -0.030614
2000-03-19    0.557011
2000-03-23   -0.891927
2000-03-27    0.066896
2000-03-31    1.270674
Freq: 4D, dtype: float64

In [45]:
offset = MonthEnd()
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.414434
2000-02-29    0.071199
2000-03-31   -0.403079
dtype: float64

# date range

In [32]:
index = pd.date_range(start='2012-04-01', end='2012-05-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01'],
              dtype='datetime64[ns]', freq='D')

In [33]:
index = pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)
index

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# shift

In [37]:
index = pd.date_range('1/1/2000', periods=4, freq='M')
ts = pd.Series(np.random.randn(4), index=index)
ts

2000-01-31   -0.437984
2000-02-29   -0.638836
2000-03-31    0.669411
2000-04-30   -1.487197
Freq: M, dtype: float64

In [38]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.437984
2000-04-30   -0.638836
Freq: M, dtype: float64

In [39]:
ts.shift(-2)

2000-01-31    0.669411
2000-02-29   -1.487197
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [40]:
ts.shift(2, freq='M')

2000-03-31   -0.437984
2000-04-30   -0.638836
2000-05-31    0.669411
2000-06-30   -1.487197
Freq: M, dtype: float64

In [41]:
ts.shift(3, freq='D')

2000-02-03   -0.437984
2000-03-03   -0.638836
2000-04-03    0.669411
2000-05-03   -1.487197
dtype: float64